div img{
    
    width: 500px;
    height: 300px;
    /* border-style: groove; */
    border: chartreuse groove 5px;
    /* padding: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}

h2{
    text-align: center;
    background-color: rgb(106, 139, 51);
    color: rgb(18, 7, 80);
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.card img hover{
   
    width: 250px;
    height: 300px;
}
img hover{
    opacity: 0.50;
}


body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-B-abGQCut8r7WFdSCnqIwkb2jhI8QCdMkA&usqp=CAU");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    }
.card-text{
    font-style: oblique ;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(46, 223, 11);
    text-align: center;
    padding: auto;
    margin: auto;
}

 

 button:hover {
        animation: border-flicker 2s linear forwards;
      }
 button{
  display: center;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 50px;
  margin: -50px 0 0 -150px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid rgb(0, 40, 70);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(69, 212, 188);  
  text-align: center;
}
 button :hover .first {
    animation: letter-flicker 3s linear infinite;
  }
@keyframes text-flicker {
    2% { 
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(0, 230, 211);
    }
    3% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    6% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    11% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    37% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    43% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    46% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    47% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
  }
  
  @keyframes letter-flicker {
      2% { 
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    6% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    11% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    37% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    40% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
  }
  
  @keyframes border-flicker {
    2% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    3% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    5% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    6% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    7% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    9% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    13% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    16% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    18% {
      border: 3px solid rgb(138, 0, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    22% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    34% {
      border: 3px solid rgb(230, 0, 127);
      box-shadow: 0 0 15px -1px rgb(230, 0, 153), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    36% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    54% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(230, 169, 0) inset;
    }
    100% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
      background-color: blue;
      
    }
  }


  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 2px solid #f1f1f1;
    perspective: 500px; /* Remove this if you don't want the 3D effect */
    display: grid;
    margin: auto;
    padding: auto;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 300px;
    backface-visibility: hidden;
    padding: auto auto;
    margin: auto auto;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgb(36, 23, 23);
    box-sizing: content-box;
    width: 80%;
    padding: 22px;
    /* background-size: contain; */
    background-position: center center;
    border: 10px solid rgb(208, 255, 0) ;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: rgb(187, 252, 9);
    transform: rotateY(180deg);
    text-align: center;
  }
  .card-img-top {
    /* max-width: 100%;
    max-height: 100%; */
    object-fit:cover;
    border: 5px solid red ;
   
    
    /* border: solid #5B6DCD 10px; */
   
}
 .size{
    margin-left: 0;
    margin-right: 1500px;
 }
 .size1{
    margin-right: 15px;
    margin-left: 1000px;
    
 }
 



